<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<dict>
		<key>ControlEvent</key>
		<dict>
			<key>click:</key>
			<string>buttonPress</string>
		</dict>
		<key>PageEvent</key>
		<dict/>
	</dict>
	<key>SecondViewController</key>
	<dict>
		<key>ControlEvent</key>
		<dict>
			<key>BtnPress</key>
			<string>buttonPress</string>
		</dict>
		<key>PageEvent</key>
		<dict/>
	</dict>
</dict>
</plist>
